@import url('https://fonts.googleapis.com/css?family=Oswald');
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Oswald';
    font-size:20px;
    color:#222;
}
.navbar{
    background-color: rgb(255, 255, 255,0.6) !important;

    padding-left:200px;
    padding-right:200px;
}
.navbar li a{
    color: black !important;
}
.navbar li a:hover{
    color: gray !important;
}
.carousel-inner img{
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top:50%;
}
.carousel-caption h1{
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
}
.carousel-caption h1{
    font-size: 200%;
    
    text-shadow: 2px 2px 10px #000;
}
.btn-primary{
    background-color: rgb(66,110,180);
    border: 1px solid white;
}
.btn-primary:hover{
    background-color: rgb(48, 84, 143);
    border: 1px solid white;
}
/* Media Query */
@media (max-width:992px){
    .carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 250%;
	}
	.carousel-caption h3{		
		font-size: 160%;		
	}
	.carousel-caption .btn{		
		font-size: 120%;		
	}
}
@media (max-width:768px){
    .carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 220%;
	}
	.carousel-caption h3{		
		font-size: 140%;
		padding-bottom: 0.2rem;
	}
	.carousel-caption .btn{		
		font-size: 95%;
		padding: 8px 14px;
	}
}
.jumbotron{
    padding:1rem;
    border-radius: 0;
}

.welcome hr{
    border-top: 2px solid rgb(62, 44, 100,0.6);
    width: 95%;
    margin-bottom: 2rem;
}
.lgb {
    margin-top:10px
}
.lgb a{
    color:orange;
    text-decoration: underline;
}
.lgb a:hover{
    color: black;
    text-decoration: underline;
}
.qatt {
    margin-top:10px
}
.qatt a{
    color:black;
    text-decoration: underline;
}
.qatt a:hover{
    color: gray;
    text-decoration: underline;
}
.fun{
    width: 100%;
}
.social{
    text-align: center;
}
.social a{
    font-size: 3em; /* 1em = 16px */
    padding: 3rem;  /* 1rem = 1 "font-size" */
}
.fa-facebook{
    color:#3b5998;
}
.fa-twitter{
    color:#00aced;
}
.fa-google-plus-g{
    color:#dd4b39;
}
.fa-instagram{
    color:#517fa4;
}
.fa-youtube{
    color:#bb0000;
}
footer{
    background-color: #777;
    color:#fff;
    
}
hr.light{
    border-top:1px solid #d5d5d5;
    width: 75%;
}
.card{
    margin:10px;
    
}
@media (max-width:576px){
    .carousel-caption {
		top: 10%;
	}
	.carousel-caption h1{
		font-size: 150%;
	}
	.carousel-caption h3{		
		font-size: 110%;		
	}
	.carousel-caption .btn {		
		font-size: 90%;
		padding: 4px 8px;
	}	
}